*{
    margin: 0;
    padding: 0;
    font-family: 'Monaco',Monospace;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}


#header{
    width : 100%;
    height: 100vh;
    background-image: url(img/deebot.png);
    background-size:cover;
    background-position:center;
    
  
    
}
.container{
    
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.logo{
    width: 140px;
 }
 nav ul li{
     display: inline-block;
     list-style: none;
     margin: 10px 20px;
 }
 nav ul li a{
     color:#fff;
     text-decoration: none;
     font-size: 20px;
     position: relative;
 }
 nav ul li a::after{
     content:'';
     width: 0%;
     height: 3px;
     background:#7600bc;
     position: absolute;
     left: 0;
     bottom: -6px;
     transition: 0.5s;
 }
 nav ul li a:hover::after{
     width: 100%;
 }
 .header-text{
     margin-top: 20%;
     font-size: 30px;
 }
 .header-text.h1{
     font-size: 60px;
     margin-top: 20px;
 }
 .header-text h1 span{
     color: #7600bc;
 }
 #cart-icon {
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
}
 /* --------about---------*/
 #about{
     padding: 80px 0;
     color: #ababab;
 }
 .row{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 .about-col-1{
     flex-basis: 35%;
 }
 .about-col-1 img{
     width: 100%;
     border-radius: 15px; 
 }
 .about-col-2{
     flex-basis: 60%;           
 }
 
 .sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
 }
 
 .tab-titles{
     display: flex;
     margin: 20px 0 40px;
 }
 .tab-links{
     margin-right: 50px;
     font-size: 23px;
     font-weight:500;
     cursor: pointer;
     position: relative;
 }
 .tab-links::after{
     content:'';
     width: 0;
     height: 3px;
     background: #7600bc;
     position: absolute;
     left: 0;
     bottom:-8px;
     transition: 0.5s;
 }
 
 .tab-links.active-link::after{
     width: 50%;
 }
 .tab-contents ul li{
     list-style: none;
     margin: 10px 0;
 }
 .tab-contents ul li span{
     color: #7600bc;
     font-size: 14px;
 }
 .tab-contents{
     display: none;
 }
 .tab-contents.active-tab{
     display:block;
 }
  /*--------products------*/
 #portfolio{
     padding: 50px 0;
 }
 .work-list{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     grid-gap: 40px;
     margin-top: 50px; 
      margin-left:30px;
     margin-right:30px;
    
     
 }
 .work{
     border-radius: 10px;
     position: relative;
     overflow: hidden;
 }
 .work img{
     width: 100%;
     border-radius: 10px;
     display: block;
     
 }
 .layer{
     width: 100%;
     height: 0;
     background: linear-gradient(rgba(0,0,0,0.6),#7600bc);
     border-radius: 10px;
     position: absolute;
     left:0;
     bottom: 0;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 40px;
     text-align: center;
     font-size: 18px;
     transition: height 0.5s;
     
 }
 .layer h3{
     font-weight:500;
     margin-bottom: 20px;
     
 }

 .work:hover .layer{
     height: 100%;
 }
 
 /*footer*/
 :root {
  --main-color: #7600BC;
  --main-light-color: purple;
  --container-color: white;
  --text-color: white;
  --bg-color: #262626;
}
 img {
  width: 100%;
}
 
 section {
  padding: 4rem 0 2rem;
  color : white;
}
 .logo img {
  width: 70px;}

 .newsletter {
  display: grid;
  justify-items: center;
}
.newsletter form {
  margin-top: 2rem;
  display: flex;
  background: var(--container-color);
  padding: 10px;
  border-radius: 0.5rem;
}
.newsletter form .email-box {
  width: 250px;
}
.newsletter form input {
  border: none;
  outline: none;
  background: none;
  color: var(--text-color);
  font-size: 1rem;
}
.newsletter form .btn {
  background: var(--main-color);
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.newsletter form .btn:hover {
  background: var(--main-light-color);
}
.footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.footer .logo {
  margin-bottom: 1rem;
}
.footer-box {
  display: flex;
  flex-direction: column;
}
.social {
  display: flex;
  align-items: center;
}
.social a {
  font-size: 24px;
  margin-right: 1rem;
  color: var(--text-color);
}
.social a:hover {
  transform: translateY(-4px);
  transition: 0.4s;
}
.footer-box h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer-box a,
.footer-box p {
  color: var(--text-color);
  margin-bottom: 10px;
}
.footer-box a:hover {
  color: var(--main-color);
}
.copyright {
  padding: 25px;
  text-align: center;
  background-color: #7600BC;
  color : white;
}
/* Making Responsive */
@media (max-width: 1080px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 991px) {
  .nav {
    padding: 15px 20px;
  }
  section {
    padding: 3rem 0 1rem;
  }
  .home-text h1 {
    font-size: 2.1rem;
  }
}
@media (max-width: 768px) {
  .nav {
    padding: 10px 0;
  }
  #menu-icon {
    display: initial;
  }
}  

@media (max-width: 672px) {
  .home-container {
    grid-template-columns: 1fr;
  }
  .home-text {
    order: 2;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  }
  .newsletter form .email-box {
    width: 180px;
  }
}
@media (max-width: 360px) {
  .logo img {
    width: 54px;
  }
  .nav-icons .bx {
    font-size: 20px;
  }
  .home-text p br {
    display: contents;
  }
  .heading h2 {
    font-size: 1.2rem;
  }
  .featured-container .box img {
    width: 135px;
  }
  .newsletter form .email-box {
    width: 140px;
    font-size: 0.9rem;
  }
  .btn {
    padding: 14px 20px;
  }
}